<h1>Portal Noticias</h1>
<pre>
<%= Cowsay.say("Bienvenido a Portal Noticas", "Cow") %>
</pre>

<% @entries.each_with_index do |entry, i| %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><%= entry.titular %></h3>
      <hr><%= entry.bajada %>
    </div>
    <div class="panel-body">
      <%= truncate(entry.cuerpo, :length => 500, :separator => ' ') %>
      <%= link_to "Leer Más", entry_path(entry) %>

    </div>
  </div>
<% end %>

<% if user_signed_in? %>
  <a href="entries/new" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Publicar Noticia</a>
<% end %>
